.template {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  background-color: #F9FAFC;
  align-items: stretch;
  justify-content: stretch;
}

.template__header {
  grid-area: header;
}

.template__main {
  background-color: var(--white);          
  grid-area: main;
  overflow: auto;
}

.template__main-inner {
  width: 100%;
  display: flex;  
  gap: 56px;  
  justify-content: flex-start;
}

.template__menu {
  display: none;
}

.template__component {    
  flex-grow: 1;
}

.template__footer {
  grid-area: footer;
}

@media only screen and (min-width: 768px) {

  .template__menu {
    display: block;
  }

  .template__main {
    background: none;
  }

  .template__component {     
    border-radius: 12px;
    background-color: var(--white);          
  }
}