.calendar {
  min-width: 304px;
  background: var(--white);
  border-radius: 8px;
  border: 1px solid var(--grey-3);
  padding: 28px 26px 32px;
  display: grid;
  grid-template-columns: repeat(7, minmax(36px, 1fr));
  justify-content: stretch;  
  overflow: hidden;
}

.calendar__month {
  justify-self: center;
  margin: 0;
  grid-area: 1 / 1 / 2 / 8;
  color: #334D6E;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
  margin-bottom: 24px;
}

.calendar__day {
  justify-self: center;
  color: #90A0B7;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  margin-bottom: 16px;
}

.calendar__date {   
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.calendar__date-text {  
  color: #334D6E;
  font-size: 16px;
  font-family: Source Sans 3;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word
}

.calendar__date_selection-start,
.calendar__date_selection-end {
  background: #4263EB;
}

.calendar__date_selection-start .calendar__date-text,
.calendar__date_selection-end .calendar__date-text{
  color: var(--white);
}

.calendar__date_selection {  
  background-color: rgba(160, 177, 245, 0.2);
}

.calendar__date_start-2 {
  grid-column: 2;
}

.calendar__date_start-3 {
  grid-column: 3;
}

.calendar__date_start-4 {
  grid-column: 4;
}

.calendar__date_start-5 {
  grid-column: 5;
}

.calendar__date_start-6 {
  grid-column: 6;
}

.calendar__date_start-7 {
  grid-column: 7;
}

.calendar.calendar_showcase {
    min-width: 200px;
    grid-template-columns: repeat(7, minmax(10px, 1fr));
    padding: 18px 16px 12px;
}

.calendar.calendar_showcase .calendar__month {  
  font-size: 16px;  
  line-height: 18px; 
  margin-bottom: 14px;
}

.calendar.calendar_showcase .calendar__date-text {    
  font-size: 12px;  
  line-height: 14px;
}

.calendar.calendar_showcase .calendar__day {  
  font-size: 12px;  
  line-height: 14px;  
  margin-bottom: 12px;
}
