.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip__trigger {}

.tooltip__popup {
  display: none;
  width: 129px;
  padding: 13px 21px 14px;
  background-color: #4263EB;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 10px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-100% - 6px - 2px));
}

.tooltip__popup::before {
  content: '';
  border: 10px solid transparent;
  border-top: 6px solid #4263EB;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__text {  
  color: var(--grey-2);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.tooltip__trigger:hover~.tooltip__popup {
  display: block;
}