.footer {
  display: none;
  flex-direction: column;
  align-items: center;
}

.footer__inner {
  padding: 71px 0 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.footer__about {
  margin: 0;
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

.footer__description {
  max-width: 640px;
  margin: 0 auto;
  color: var(--black);
  text-align: center;
  /* p */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.footer_template {
  padding: 56px 0;
}

.footer_template .footer__about {
  color: var(--grey-3);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {

  .footer {
    display: flex;
  }

}